div {
    width: 250px;
    height: 250px;
}

h1 {
    background-color: #1d3557;
    width: 100px;
}

#koko {
    background-color: #457b9d;
    border-width: 5px;
    border-color: #1d3557;
    border-style: double;
    box-sizing: border-box;
}

#väri {
    background-color: #a8dadc;
    border-width: 3px;
    border-color: #e63946;
    border-style: dashed solid;
    box-sizing: border-box;
}

#lisä {
    background-color: #f1faee;
    border: 4px dashed #1d3557;
    border-radius: 10%;
    box-sizing: border-box;
}

#nappula {
    padding: 10px 20px;
    background-color: rgb(230, 225, 225);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color: rgb(209, 209, 209);
    outline: none;
}