body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 215, 216);
}

div {
    width: 250px;
    height: 250px;
}

#koko {
    background-color: #457b9d;
    border-width: 5px;
    border-color: #1d3557;
    border-style: double;
    box-sizing: border-box;
    margin: 20px 10px;
}

#väri {
    background-color: #a8dadc;
    border-width: 3px;
    border-color: #e63946;
    border-style: dashed solid;
    box-sizing: border-box;
    margin: 20px 10px;
}

#lisä {
    background-color: #f1faee;
    border: 4px dashed #1d3557;
    border-radius: 10%;
    box-sizing: border-box;
    margin: 20px 10px;
}

#nappula {
    padding: 10px 20px;
    background-color: rgb(230, 225, 225);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color: rgb(209, 209, 209);
    outline: none;
    margin-top: 10px;
}

.kuutit {
    background-color: #457b9d;
    border: 10px;
    width: 100px;
    height: 100px;
    padding: 35px;
    margin: 20px;
}

.dispo {
    background-color: #a8dadc;
    height: 50px;
    width: 60px;
    border: 5px solid black;
    display: inline-block;
    margin: 10px;
}

.inli {
    background-color: #e63946;
    border: 5px solid black;
    width: 100px;
    height: 100px;
    padding: 35px;
    margin: 20px;
    display: inline;
}

#top-nav {
    background-color: #1d3557;
}

#top-nav li {
    display: inline-block;
}

#top-nav h1 {
    background-color: #1d3557;
    width: 100px;
    padding: 5px 10px;
    margin: 10px 10px;
    display: inline-block;
    color: #f1faee;
}

#top-nav a {
    display: inline-block;
    color: #f1faee;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

#top-nav a:hover {
    color: #babcbe;
}

#top-nav ul {
    display: inline-block;
}

footer {
    background-color: #1d3557;
    text-align: center;
    color: #f1faee;
    padding: 20px 0;
    font-size: 20px;
}

article {
    background-color: #fff;
    border: 1px solid #babcbe;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}