section {
    background-color: antiquewhite;
    width: 100px;
    height: 200px;
}

#test {
    background-color: brown;
    width: 50%;
    height: 50%;
    margin: 4% auto;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 100%;
}